* {
    @apply outline-none;
    font-family: "Manrope", serif;
}

*:focus {
    @apply outline-none !important;
}

.glass {
    backdrop-filter: blur(30px) saturate(120%) ;
    background-color: rgba(20, 20, 20, 0.507);
}