* {
    @apply outline-none;
    font-family: "Manrope";
}

*:focus {
    @apply outline-none !important;
}

.glass {
    background-color: rgba(47, 43, 48, 0.568);
    backdrop-filter: blur(12px);
}
